.body {
  background-color: #fbf0df;
  margin: auto;
  display: block;
}

.navbar {
  z-index: 9;
  width: 100vw;
  height: 63px;
  background-color: #dd1a21;
  border: 3px #000;
  border-bottom-style: solid;
  justify-content: space-between;
  align-items: center;
  padding-left: 5vw;
  padding-right: 5vw;
  display: flex;
  position: fixed;
}

.navbar.footer {
  height: 40px;
  border-bottom-style: none;
  margin-top: 50px;
  position: static;
}

.image {
  height: 45px;
  object-fit: fill;
  margin-top: 9px;
  margin-bottom: 9px;
}

.brand {
  margin-top: auto;
  margin-bottom: auto;
}

.container {
  margin-left: 5vw;
  margin-right: 5vw;
}

.card-parent {
  width: auto;
  height: auto;
  max-width: 960px;
  background-color: rgba(255, 0, 0, 0);
  margin-top: 0;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  left: auto;
}

.card-parent.icon {
  width: 40px;
  height: 40px;
  align-self: center;
  align-items: stretch;
  margin-top: 0;
  margin-left: 0;
  display: block;
}

.card-parent.button {
  width: 160px;
  height: 50px;
  align-self: center;
  align-items: stretch;
  margin-top: 0;
  margin-left: 0;
  display: block;
}

.card-parent.button.builds {
  width: 240px;
  margin-left: auto;
}

.card-bg {
  z-index: 0;
  width: auto;
  height: auto;
  background-color: #fecd03;
  margin: 3px 6px 6px 3px;
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.card-bg.twitter {
  background-color: #1d9bf0;
}

.card-bg.twitter:hover {
  background-color: #5dbdfd;
}

.card-bg.yellow {
  padding: 20px;
}

.card-bg.insta {
  background-color: #dc316e;
}

.card-bg.insta:hover {
  background-color: #f37ca6;
}

.card-bg.etsy {
  background-color: #f1641e;
}

.card-bg.etsy:hover {
  background-color: #fd9059;
}

.card-bg.figma {
  background-color: #353535;
}

.card-bg.figma:hover {
  background-color: #636161;
}

.card-bg.button {
  z-index: 29;
  background-color: #dd1a21;
  justify-content: center;
  align-items: center;
  display: flex;
}

.card-bg.button:hover {
  background-color: #ff5258;
}

.corner-2 {
  z-index: 31;
  margin-right: 3px;
  position: absolute;
  top: 0%;
  bottom: auto;
  left: auto;
  right: 0%;
}

.corner-1 {
  z-index: 31;
  margin-left: -1px;
  position: absolute;
  top: 0%;
  bottom: auto;
  left: 0%;
  right: auto;
}

.corner-3 {
  z-index: 31;
  margin-bottom: 3px;
  position: absolute;
  top: auto;
  bottom: 0%;
  left: 0%;
  right: auto;
}

.corner-4 {
  z-index: 31;
  position: absolute;
  top: auto;
  bottom: 0%;
  left: auto;
  right: 0%;
}

.border {
  z-index: 30;
  height: 3px;
  background-color: #000;
  margin-left: 9px;
  margin-right: 9px;
  position: absolute;
  top: 0%;
  bottom: auto;
  left: 0%;
  right: 0%;
}

.border.bottom {
  height: 6px;
  top: auto;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.border.left {
  width: 3px;
  height: auto;
  margin: 9px 0;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: auto;
}

.border.right {
  width: 6px;
  height: auto;
  margin: 9px 0;
  top: 0%;
  bottom: 0%;
  left: auto;
  right: 0%;
}

.image-2 {
  width: 20px;
  height: auto;
  margin: auto;
  display: block;
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.link-block {
  width: 160px;
  align-self: center;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: auto;
  display: block;
  position: relative;
}

.link-block.card {
  width: 40px;
  height: 40px;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
}

.link-block.card2 {
  width: 40px;
  height: 40px;
  margin-bottom: 0;
  margin-left: 0;
  position: relative;
}

.link-block.icon {
  width: 40px;
}

.link-block.button {
  margin-top: 20px;
  margin-right: auto;
  padding-bottom: 20px;
}

.link-block.button.builds {
  width: 240px;
}

.div-block {
  margin-top: 25px;
  padding-left: 5vw;
  padding-right: 5vw;
}

.loop-wrapper {
  width: 100vw;
  height: 226px;
  margin-top: 25px;
  overflow: hidden;
}

.lilbrick {
  width: 220px;
  border: 3px solid #000;
  margin-right: 20px;
  box-shadow: 4px 4px 0 1px #000;
}

.lilbrick.buildspreview {
  width: 95%;
  height: auto;
  max-height: 320px;
  object-fit: cover;
  background-color: #fff;
  order: 0;
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
}

.image-4 {
  width: 220px;
}

.loop-container {
  width: auto;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  flex-flow: row;
  align-content: flex-end;
  justify-content: flex-start;
  align-items: center;
  margin-top: 0;
  display: flex;
}

.content {
  width: 1920px;
  flex-direction: row;
  flex: none;
  order: -1;
  justify-content: flex-start;
  align-self: center;
  align-items: center;
  display: flex;
}

.header {
  width: auto;
  height: 48px;
  margin-top: 0;
  margin-left: 0;
}

.paragraph {
  margin-top: 20px;
  margin-left: 0;
  margin-right: 0;
  font-family: Lores12ot, sans-serif;
  font-size: 16px;
  font-weight: 400;
}

.paragraph.minting {
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
}

.card-content {
  z-index: 3;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  display: flex;
  position: relative;
}

.text-span, .text-span-2, .text-span-3, .text-span-4, .text-span-5, .text-span-6, .text-span-7 {
  font-weight: 700;
}

.image-5 {
  width: 100%;
  max-width: 492px;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
}

.header-container {
  width: 100%;
}

.div-block-2 {
  width: 100%;
  justify-content: space-between;
  padding-left: 0;
  padding-right: 0;
  display: flex;
}

.image-6 {
  margin-right: 30px;
}

.image-7 {
  margin-left: 60px;
}

.columns {
  width: 100%;
  margin-top: 40px;
  margin-bottom: 0;
}

.team-card {
  width: 234px;
  height: 358px;
  outline-offset: 0px;
  background-color: #f57d20;
  border: 3px #000;
  outline: 3px solid #000;
  margin-bottom: 40px;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 2px 2px 0 3px #000;
}

.team-card.tob {
  background-color: #7d7d7d;
}

.image-8, .image-9 {
  border-bottom: 3px solid #000;
}

.team-name {
  color: #fff;
  text-align: center;
  margin-top: 10px;
  font-family: Lores9otnarrow, sans-serif;
  font-size: 22px;
  line-height: 100%;
}

.team-desc {
  color: #fff;
  text-align: center;
  margin-top: 8px;
  font-family: Lores12ot, sans-serif;
  font-size: 16px;
  font-weight: 700;
}

.div-block-3 {
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  flex-direction: row;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  display: flex;
}

.div-block-4 {
  height: 63px;
}

.div-block-5 {
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  display: flex;
}

.image-2-copy {
  width: 14px;
  height: auto;
  margin: auto;
  display: block;
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.heading {
  color: #333;
  font-family: Lores9otnarrow, sans-serif;
}

.div-block-6 {
  z-index: 30;
  height: 100%;
  justify-content: center;
  align-items: center;
  padding-bottom: 6px;
  display: flex;
  position: relative;
}

.button {
  color: #fff;
  text-align: center;
  font-family: Lores9otnarrow, sans-serif;
  font-size: 24px;
  text-decoration: none;
}

.text-span-8 {
  font-weight: 700;
}

.text-span-9 {
  text-decoration: line-through;
}

@media screen and (max-width: 991px) {
  .image-6, .image-7 {
    display: none;
  }
}

@media screen and (max-width: 479px) {
  .heading {
    width: auto;
    height: auto;
    margin-left: 0;
    margin-right: 0;
  }
}


@font-face {
  font-family: 'Lores9otnarrow';
  src: url('../fonts/LoRes9OTNarrow-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Lores12ot';
  src: url('../fonts/LoRes12OT-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Lores12ot';
  src: url('../fonts/LoRes12OT-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}